<!-- <mat-grid-list cols="3" rowHeight="2:1"> -->
        <!-- <mat-grid-tile>
            <mat-card >
                <mat-card-title>Registration</mat-card-title>
                    <mat-card-content>
                        <form #myRForm="ngForm" (ngSubmit)="Register(myRForm.value)" class="example-container">
                            <mat-form-field>
                                <input type="text"  matInput placeholder="User Name" name="username" [(ngModel)]="rusername" >
                            </mat-form-field>
                            
                            <mat-form-field>
                                <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" name="password" [(ngModel)]="rpassword">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                            </mat-form-field>

                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="Choose a Date Of Birth">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-card-actions>
                                <button type="submit" mat-button>Register</button>
                            </mat-card-actions>
                        </form>
                    </mat-card-content>
            </mat-card>
        </mat-grid-tile> -->
<!-- 
        <mat-grid-tile>
            <mat-card >
                <mat-card-title>Login</mat-card-title>
                    <mat-card-content>
                        <form #myForm="ngForm" (ngSubmit)="login(myForm.value)" class="example-container">
                            <mat-form-field>
                                <input type="text"  matInput placeholder="User Name" name="username" [(ngModel)]="username" >
                            </mat-form-field>
                            
                            <mat-form-field>
                                <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" name="password" [(ngModel)]="password">
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </mat-form-field>
                            <mat-card-actions>
                                <button type="submit" mat-button>Login</button>
                            </mat-card-actions>
                        </form>
                    </mat-card-content>
            </mat-card>
        </mat-grid-tile>
</mat-grid-list> -->
      



<!-- <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list> -->


<mat-grid-list cols="1" rowHeight="1:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form #myForm="ngForm" (ngSubmit)="login(myForm.value)" class="example-container">
                    <mat-form-field>
                        <input type="text"  matInput placeholder="User Name" name="username" [(ngModel)]="username" >
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" name="password" [(ngModel)]="password">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        </mat-form-field>
                    <mat-card-actions>
                        <button type="submit" mat-button>Login</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>